apache-airflow[crypto,amazon,s3,postgres,async,kubernetes,slack,jira,virtualenv]==1.10.15
pandas
numpy
pytz
pyOpenSSL
./lib/singer-python
./lib/tap-git
./lib/tap-github
./lib/tap-gitlab
./lib/target-postgres
./lib/cryptodata-provider
